*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa ;
}

/* Header */
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
}

/* Versão Mobile */
@media (max-width:1100px){

}
