*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

a{
    text-decoration: none;
}

/* Header */
.topo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top:0;
    left:0;
    z-index:2;
}

h1{
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}
/* conteudo */
.conteudo{
  margin-top: 69px;
  width: 100%;
  overflow-y: auto; 
  overflow-x:hidden;
}

/* Área Criar Quizz */
.criarQuizz{
    width: 1110px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin:77px 195px;
}

.infoSemQuizz{
    display: flex;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 107px;
    font-size: 20px;
    font-weight: 400;
    color: #b9b9b9;
}

.criarQuizz button{
    width: 151px;
    height: 40px;
    font-size: 21px;
    color: #EC362D;
    background-color: #fafafa;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tela Lista dos Quizzes */
.telaListaQuizzes{
    width: 100%;
    overflow: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.containerListas{
    display: flex;
    flex-direction: column;
    align-items:center;
}

/* Seus Quizzes */
.seusQuizzes{
   display: flex;
   align-items: center; 
   width: 1110px;
   margin: 70px 0 13px 0;
}

.seusQuizzesHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.seusQuizzesHeader h3, .todosOsQuizzes h3{
    font-size: 20px;
    font-weight: 700;
    /* margin-right: 17px; */
    margin-bottom: 0;
}

/* h2{
    font-size: 20px;
    font-weight: 700;
    /* margin-right: 17px;
} */

.iconCriarQuizz{
    width: 31px;
    height: 30px;
    color: #EC362D;
    cursor: pointer;
}


/* Todos os Quizzes */
.todosOsQuizzes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    max-width: 1110px;
    overflow-x: auto;
 }

 .coverQuiz{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     width: 340px;
     height: 181px;
     background-repeat: no-repeat;
     border-radius: 5px;
     background-size: cover;
     position: relative;
     margin-right: 16px;
     margin-bottom: 12px;
     cursor: pointer;
 }

 .gradeQuizzes{
     overflow-x: hidden;;
     display: grid;
     gap: 10px 20px;
     margin-top: 12px; 
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: repeat(auto-fill, minmax(12px, 181px));
 }

 span {
     display: flex;
     white-space:pre-wrap;
     word-break:break-all;
     text-align:start;
     color: #ffffff;
     font-weight: 400;
     font-size: 19px;
     position: absolute;
     bottom: 8px;
     left: 17px;
 }

/* Tela Criacao do Quizz */
.telaCriarQuizz{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: 1;
    margin-top: 69px;
}

/* Tela Info do Quizz */

.telaInfoQuiz{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Mensagem Para Usuário */
/* TRANSFORMAR ISSO EM H3 */
.conteiner_info h4{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 27px;
}

/* Caixa de Info */
.conteiner_info{
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caixa_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    padding: 21px;
    background-color: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.075);
}
input{
    min-width: 300px;
    max-width: 570px;
    width: 100%;
    height: 50px;
    border-radius:8px;
    border: 1px #D1D1D1 solid;
    padding: 5px 15px;
}

input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-style: italic;    
    color:#BABABA;
}
.titulo, .url_Img,.qnt_perguntas, .qnt_niveis {
    font-size: 19px;
}

/* Botão Submit */
.conteiner_info button{
    cursor: pointer;
    margin-top: 85px;
    max-width: 378px;
    width: 100%;
    min-width: 300px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner_info button h4{
    color: #ffffff;
    font-size: 21px;
    margin: 0;
}
.conteiner_info button:active{
    filter: brightness(93%)
}

/* Tela Criar Perguntas */
.telaCriarPerguntas{
    width: 100%;
    height: 100%;
    position: relative;
    /* top: 0;
    left: 0; */
    margin-top: 38px;
    margin-bottom: 80px;
    background-color: #fafafa;
    z-index: 2;
    
}

h3{
    font-size: 23px;
    font-weight: 700;
}

h4{
    font-size: 20px;
    font-weight: 700;

}
h5{
    font-size: 21px;
}

.telaCriarPerguntas > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 30px;

}

.telaCriarPerguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Caixa de Input Pergunta e Nivel */
.pergunta,.nivel{
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 0 18px;
    margin-bottom: 30px; 
    position: relative;
}

.pergunta>:not(:first-child),.nivel>:not(:first-child){
    display: none;
}

/* Botao para colapsar */
button{ 
    display: flex;
    align-items: start;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin-bottom: 28px; 
}
/* Decoração dos Input */
#inputPergunta, #inputNivelDesc{
    width: 100%;
    height: 46px;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
    margin-top: 14px;
}

#inputPergunta:first-child{
    margin-top: -12px;
}

input::placeholder{
    color: #bababa;
    opacity: 1;
    font-style: italic;
}

#inputURLPergunta{
    width: 100%;
    height: 46px;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
    margin-top: 14px;
    margin-bottom: 32px;
}

.iconeReadMore{ 
    width: 26px;
    height: 23px;
    color: #000000;
    position:absolute;
    right: 25px;
    top: 27px;
    cursor: pointer;
}

.botaoIrParaNiveis{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC362D;
    width: 354px;
    height: 54px;
    margin-top: 81px;
    border-radius: 15px;
    font-size: 21px;
    font-weight: 400;
    color: #fff5f4;
}
/* Tela Criar Nivel */
.telaCriarNivel{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.telaCriarNivel h3{
    margin-bottom: 30px;
}

#inputNivelDesc{
    margin: 12px 0 30px 0;
}

/* Tela Criar Nivel */
.telaQuizz{
    margin-top:69px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Classe escondido */
.escondido{
    display:none
}

/*Tela de Sucesso*/

h2{
    font-size: 19px;
    font-weight: normal;
    line-height: 22.27px;
    color: white;
}

.telaSucessoQuizz{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.telaSucessoQuizz .titulo{
margin-bottom: 40px;
}
.preview_Quizz{
    position: relative;    
}
.preview_Quizz img{
    height: 180px;
    width: 340px;
}
.blackCover{
    position: absolute;
    left: 0;
    top:0;
    height: 266px;
    width: 500px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}
.telaSucessoQuizz img{
    width: 500px;
    border-radius: 5px;
    height: 266px;
}

.nome_Quizz{
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding-right: 80px;
    word-break:break-word;
}

/* Tela Sucesso Quizz: Botões */
.botoes{
    margin-top: 40px;
}
.botoes h3{
    margin:0;
    font-weight: 400;
}

.acessoQuiz{
    cursor: pointer;
    max-width: 378px;
    width: 100%;
    min-width: 300px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branco{
    color: white;
}

.botao_Sem_Fundo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cinza{
    color: #818181
}

/* Listagem quiz users */
.lista_User{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-column-gap: 10px;
   grid-row-gap: 10px;
   margin-bottom: 50px;
}
.home_quizz{
    position: relative;
    cursor: pointer;
}
.lista_User .blackCover{
    height: 180px;
    width: 340px;
}
.lista_User img {
    height: 180px;
    width: 340px;
    border-radius: 5px;
}

/* Exibição de um quiz */
.topo_Quiz{
    position: relative;
    width: 100vw;
    min-width: 300px;
    height: 225px;
    overflow: hidden;
}

.topo_Quiz .blackCover{
    background-image:none;
    background-color: #00000060;
    width: 100%;
    height: 225px;
}

.img_Quiz img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.titulo_Quiz{
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.titulo_Quiz h2{
    font-size: 39px;
    line-height: 40px;
}

.nextTop{
    margin-top: 0;
}

/* Caixa de pergunta */
.render-perguntas{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question{
    background-color: white;
    max-width: 760px;
    width:100%;
    min-width: 400px;
    height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
    margin-bottom: 70px;
    border: 1px solid blue;
}
.caixa-pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 688px;
    width: 100%;
    height: 138px;
    margin-bottom: 20px;
}
.caixa-pergunta h3{
    color: #ffffff;
    mix-blend-mode: difference;
    width: fit-content;
    word-break: break-word;
    padding: 0 20px;
}




/* caixa de resposta */

.resposta{
    cursor: pointer;
}
.resposta.colortrue{
    color:green;
}
.resposta.colorfalse{
    color:red;
}

.naoselecionado{
    filter: opacity(50%);
}

.caixa-respostas{
    width: 688px;
    height: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.resposta img{
    width: 330px;
    height: 175px;
}
.resposta h4{
    max-width: 330px;
    width: 100%;
    word-break: break-word;
    margin-top: 10px;
}

/* Versão Mobile */
@media (max-width:1100px){

    .conteudo{
        margin-top: 38px;
    }
    
    /* Área de criar quizz */
    .criarQuizz{
        width: 360px;
        margin: 69px 17px 35px 17px;
    }

     /* Botão de criar perguntas */
     .conteiner_info button{
        margin-top:24px ;
    }

    /* Seus quizzes */
    .seusQuizzes{
        width: 350px;
        margin:69px 17px;
        flex-wrap: wrap;
     }

    .seusQuizzesHeader{
        justify-content: space-between;
    } 

    .seusQuizzesHeader h2{
        margin-right: 0px;
    }  
    
    .botaoIrParaNiveis{
        margin-top: 46px;
    }

    .todosOsQuizzes{
        margin: 31px 17px;
     }
    
     .lista_User,.gradeQuizzes{
        grid-template-columns: 1fr;
     }
     .question{
        width: 375px;
       
     }

     .caixa-respostas{
         width: 340px;
         height: 413px;
         padding-bottom: 20px;
     }

     .caixa-respostas h4{
         font-size: 13px;
     }

     .resposta img{
         width: 163px;
         height: 113px;
     }
     .caixa-pergunta{
         width: 348px;
         height: 89px;
     }
     .caixa-pergunta h3{
       font-size: 19px;
    }
}
